<div class="columns is-centered">
  <div class="column is-half">
  <h2 class="title is-size-2">Platforms</h1>
    <table class="table is-fullwidth">
      <thead>
        <tr>
          <th>Name</th>
          <th>Number of Games</th>
          <th>Link</th>
        </tr>
      </thead>
      <tbody>
        <% @platforms.order("name ASC").each do | platform |%>
        <tr>
          <td><%= platform.name %></td>
          <td><%= platform.title_count %></td>
          <td><%= link_to "Link", platform %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
