<h2 class="title is-size-2">About the Dataset</h2>
<p>
  Description: Top 200 Video Game Releases derived from <a href="https://www.kaggle.com/gregorut/videogamesales/">this</a> Kaggle dataset
  Video games are categorized into Publishers, Genres and Platforms. Each Video Game title is associated
  with a publisher and genre. A video game title can also have multiple iterations with different sales figures
  and ratings across different platforms.
</p>
<%= image_tag("VGERDWEBD2007.png", :alt => "ERD image") %>
